    <header class="intro-header" style="background-image: url('/images/records.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 id="homePageTitle">SwapShop</h1>
                        <h2 class="subheading">An online shop for oddities, paraphernalia, curiosities, and collectibles.</h2>
                        <h2 class="options">New user? Please sign up <a href="/signup">here.</a></h2>
                        <h2 class="options">Already a member? Please sign in <a href="/login">here.</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 footer">
                    <p>Copyright &copy; SwapShop 2017</p>
                </div>
            </div>
        </footer>

    </div>