<header class="intro-header" style="background-image: url('/images/records.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 id="enterInfo">Please log in to your account.</h1>

                        <br>

                        <div class="col-sm-4"></div>

                        <form class="create-update-form" action="/login" method="POST">
                          <div class="form-group col-sm-4 userForm">
                            {{!--<label for="username">Username:</label><br>
                            <input type="text" id="username" name="username"><br>--}}
                            <label for="email">Email Address:</label><br>
                            <input type="text" id="email" name="email"><br>
                            <label for="password">Password:</label><br>
                            <input type="password" id="password" name="password"><br> {{!--
                            <label for="firstName">First Name:</label><br>
                            <input type="text" id="firstName" name="firstName"><br>
                            <label for="lastName">Last Name:</label><br>
                            <input type="text" id="lastName" name="lastName"><br>
                            <label for="streetAddress">Street Address:</label><br>
                            <input type="text" id="streetAddress" name="streetAddress"><br>
                            <label for="city">City:</label><br>
                            <input type="text" id="city" name="city"><br>
                            <label for="state">State:</label><br>
                            <input type="text" id="state" name="state"><br>
                            <label for="zipcode">Zipcode:</label><br>
                            <input type="text" id="zipcode" name="zipcode"><br><br>--}}
                            <button type="submit" href="/user" id="submitBtn">Log in!</button>
                          </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 footer">
                    <p>Copyright &copy; SwapShop 2017</p>
                </div>
            </div>
        </footer>

    </div>