<header class="intro-header" style="background-image: url('/images/records.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <div class="homeHeader">
                          <h1 id="itemTitle">Your Pending Swaps</h1>
                          <a href="user/transactions" id="submitBtn">New Swap</a>
                          <a href="user/items/create" id="submitBtn">Add Items</a>
                          <a href="/" id="submitBtn">Home</a>
                          <br>
                          <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
  